// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#count-down-time {
  width: 200px;
}

#product-images {
  margin-top: 50px;
  .icon-eye-open {
    margin-top: 5px;
  }

  #other-images {
    display: inline-block;
    margin-top: 10px;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

#product-info {
  margin-top: 20px;
  margin-left: 40px;
}

.tab-pane {
  ul {
    li {
      display: inline-block;
      list-style-type: none;
      margin: 10px;
      height: 180px;
      width: 130px;
      border-color: red;
      border-style: solid;
      padding: 5px;
      border-radius: 5px;

      a {
        img {
          width: 130px;
          height: 100px;
        }
      }
    }
  }
}
