// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#count-down-time {
  width: 200px;
}

.tab-pane {
  ul {
    li {
      display: inline-block;
      list-style-type: none;
      margin: 5px;
      height: 200px;
      width: 200px;

      a {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
